canvas {
    display: block;
    margin: 0 auto;
    border: 2px solid #ACF94E;
    cursor: pointer;
}

h2{
    margin-left: 120px; 
    position: absolute;
  
}

@media screen and (max-width: 1100px){
    h2{
        margin-left: 20px;
    }
  
}


@media screen and (max-width: 920px){
    h2{
        margin-left: 5px;
        font-size: 18px;
    }
    canvas{
        width: 500px;
        height: 500px;
    }
}



















